header {
    background-color: aqua;
    border: 3px solid black;
    border-radius: 4px ;
    color: black;
    text-align: center;
    margin: 35px;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 40px;
}

img {
    width: 680px;
    height: 480px;
    text-align: center;
    border: 4px solid black;
}

h1 {
    text-align: center;
    color: black;
    font-size: 38px;
    
}

h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    
}

.gek {
    
    text-align: center;
    color: black;
    font-size: 38px;
    background-color: coral;
    border: 8px solid black;
}

h3 {
    color: chartreuse;
    text-align: center;
    font-size: 30px;
}

h4 {
    color: chartreuse;
    text-align: center;
    font-size: 30px;  
}

h5 {
    color: chartreuse;
    text-align: center;
    font-size: 30px;  
}